<div class="jumbotron">
  <h1>Hello Player!</h1>
  <p class="lead">
    <img src="images/logoPic.png" alt="logo"><br>
    Guitar Player - a simple app for guitar beginners.
  </p>
</div>

<div class="row marketing">
  <h4>Free online guitar course</h4>
  <p>
    Master your guitar skills by completing tasks on several levels.
  </p>

  <h4>Easy entrance point</h4>
  <p>
    Start by learning basic chords and playing songs based only on them.
  </p>

  <h4>Best examples</h4>
  <p>Practise with your favourite songs from all around the world.</p>
</div>
